<a href="https://colab.research.google.com/github/narendra17-abd/Python-Basics/blob/main/Copy_of_data_structure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 1.Difference between the list and tuple?

In [ ]:
a=(1,2)
b=[1,2]
b.append(3)
print(b)
#lists are mutable but tuples are immutable new data cannot be added

[1, 2, 3]

## 2.How list is different from an array

In [ ]:
a=[1,2,3,4]
print(a)
import numpy as np
arr=np.array([1,2,4,5])
print(arr)

[1, 2, 3, 4]
[1 2 4 5]

## 3. Use the python list append(),copy(), clear, count, extends(), index(), insert(), pop(), reverse(), sort(), min(), max(),and sum()

In [ ]:
a = [3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5]
a.append(7)
copied_list = a.copy()
a.clear()
count_of_5 = copied_list.count(5)
copied_list.extend([8, 9, 10])
index_of_2 = copied_list.index(2)
copied_list.insert(3, 99)
popped_value = copied_list.pop(5)
copied_list.reverse()
copied_list.sort()
min_value = min(copied_list)
max_value = max(copied_list)
total_sum = sum(copied_list)
print("Original List:", a)
print("Copied List:", copied_list)
print("Count of 5:", count_of_5)
print("Index of 2:", index_of_2)
print("Popped Value:", popped_value)
print("Min Value:", min_value)
print("Max Value:", max_value)
print("Sum of all elements:", total_sum)

Original List: []
Copied List: [1, 1, 2, 3, 3, 4, 5, 5, 6, 7, 8, 9, 9, 10, 99]
Count of 5: 3
Index of 2: 6
Popped Value: 5
Min Value: 1
Max Value: 99
Sum of all elements: 172

## 4, How would you divide the list into two parts?

In [ ]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

b= a[:len(a)//2]
c= a[len(a)//2:]

print("First Part:", b)
print("Second Part:", c)

First Part: [1, 2, 3, 4, 5]
Second Part: [6, 7, 8, 9, 10]

## 5. how to filter the multiple of 3 from a given list and them remove the odd number from the new filtered list.
Eg A = [1,2,3,4,5,6,7,8,9,21,23,24]
Filter_lsit = [3,6,9,21,24]
output_list = [6,24]

In [ ]:
A = [1, 2, 3, 4, 5, 6, 7, 8, 9, 21, 23, 24]

b = list(filter(lambda x: x % 3 == 0, A))
c = list(filter(lambda x: x % 2 == 0, b))

print(b)
print(c)

[3, 6, 9, 21, 24]
[6, 24]

## 6. How you can access keys and values simultaneously and update its value

In [ ]:
a = {'a': 1, 'b': 2, 'c': 3, 'd': 4}

for key, value in a.items():
    print(f"Key: {key}, Value: {value}")
for key, value in a.items():
    if value % 2 == 0:
        a[key] = value * 2
    else:
      a[key]=value * 3
print("Updated Dictionary:", a)

Key: a, Value: 1
Key: b, Value: 2
Key: c, Value: 3
Key: d, Value: 4
Updated Dictionary: {'a': 3, 'b': 4, 'c': 9, 'd': 8}

## 7. Write python program to join, merge, concatente the two dictionaries..

In [ ]:
a={'a': 1, 'b': 2}
b={'c': 3, 'd': 4}
c = dict(list(a.items()) + list(b.items()))
print(c)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

## 8. How would you check a specific keys from the dictionary??

In [2]:
a = {'a': 1, 'b': 2, 'c': 3}
b = ['a', 'b', 'c','d']

for key in b:
    if key in a:
        print(f"Key '{key}' is in the dictionary ")
    else:
        print(f"Key '{key}' is not in the dictionary")

Key 'a' is in the dictionary
Key 'b' is in the dictionary
Key 'c' is in the dictionary
Key 'd' is not in the dictionary

## 9. write a python program to find the unique vowel present in the sentence

In [ ]:
def unique_vowels(x):
    vowels = "aeiou"
    b = set()
    for char in x.lower():
        if char in vowels:
            b.add(char)

    b = list(b)
    return b

a = "Hello, how are you today?"
r = unique_vowels(a)

print(r)

['u', 'a', 'o', 'e']

## 10. We know that tuple is immutable, do any thing and add element to the tuples.

In [ ]:
a = (1, 2, 3)
b = (4, 5, 6)
c = a + b
print(c)

(1, 2, 3, 4, 5, 6)

In [ ]:
a = (1, 2, 3)
b = a * 2
print(b)

(1, 2, 3, 1, 2, 3)

## 11. How would you sum the list of tuple and sum of tuple of list
list  = [(2,3),(4,5),(6,4)]
output= [5,9,10]

tuple  =([2,3],[4,5],[6,4])
output  =  (5,9,10)

In [14]:
list_of_tuples = [(2, 3), (4, 5), (6, 4)]
result_list = [sum(t) for t in list_of_tuples]

print(result_list)

[5, 9, 10]

In [13]:
tuple_of_lists = ([2, 3], [4, 5], [6, 4])
result_tuple = tuple(sum(sublist) for sublist in tuple_of_lists)

print(result_tuple)

(5, 9, 10)

## 12. FIND THE FREQUENCY OF THE value IN THE GIVEN DICTIONARY

In [17]:
a = {'a': 1, 'b': 2, 'c': 3, 'd': 2, 'e': 2, 'f': 3}

v_f = {}
for value in a.values():
    if value in v_f:
        v_f[value] += 1
    else:
        v_f[value] = 1

for value, frequency in v_f.items():
    print(f"The frequency of value {value} is: {frequency}")

The frequency of value 1 is: 1
The frequency of value 2 is: 3
The frequency of value 3 is: 2